body{
  background-color: rgb(206, 203, 199);
}
.main {
  margin-top: -8px;
  font-family: "Open Sans", sans-serif;
}


/* Main layout */
.main-layout {
  display: flex;
  flex: 1;
  /* Takes up remaining height below the topbar */
}

/* Parameters content styling */
.other-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin-top: -30px;
}